/*Resetear formato de CSS de la p치gina para los margenes*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  /*Los colores se pueden expresar en exadecimal 
    o con el nombre del color
    */
  background: black;
  height: 100px;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}

label.logo {
  color: #ffffff;
  font-size: 32px;
  padding: 0 100px;
  font-weight: bold;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 60px;
}

a:hover {
  background: #fbb000;
  transition: 0.7s;
}

.checkbtn {
  display: none;
  font-size: 32px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }
}
/*
Lo que hace es que cuando se modifique a menos 900px
va a tomar las siguientes configuraciones
*/
@media (max-width: 900px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    top: 80px;
    left: -100%;
    /*Centrara el menu cuando sea pantalla peque침a*/
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    /*Hace que ocupe toda la pantalla*/
    display: block;
    margin: 50px 0;
  }

  nav ul li a {
    font-size: 23px;
  }
  /*
    Hace que el menu se abra y cierre
    */
  #check:checked ~ ul {
    left: 0;
  }
}

section{
    /* Agregar la imagen de fondo */
    /*background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
    background:linear-gradient(to bottom, green , #a821643b)
    , url("https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
    /* Ajustar el fondo para que cubra toda la pantalla */
    background-size: cover;
    /* Centrar la imagen de fondo */
    background-position: center;
    /* Configuraci칩n para que el fondo se ajuste al tama침o de la ventana */
    height: 100vh;
    margin: 0;
    /* Asegurar que el contenido no se desborde del body */
    overflow-x: hidden;

}
/*Termina el menu*/

/*Comienza una nueva seccion*/
